<div class="container-box">
    <!-- sidebar -->
    <div class="sidebar">
        <div class="sidebar-item top" >ברוך הבא {{username}}</div>
        <div class="sidebar-item" (click)="openNewMovieModal()">הוספת סרט</div>
        <div class="sidebar-item" *ngFor="let category of categories" (click)="selectedCategory = category">
            {{category}}
        </div>
        <div class="sidebar-item" (click)="logout()">יציאה</div>
    </div>

    <!-- movie list -->
    <div class="content p-4">
        <app-movie-card *ngFor="let movie of movies | filter:'category':selectedCategory" [movie]="movie" (onDeleteEvent)="deleteMovie($event)"></app-movie-card>
    </div>
</div>