<div class="container-box">
    <!-- sidebar -->
    <div class="sidebar">
        <div class="sidebar-item top" >ברוך הבא {{username}}</div>
        <div class="sidebar-item">הוספת סרט</div>
        <div class="sidebar-item" (click)="logout()">יציאה</div>
    </div>

    <!-- movie list -->
    <div class="content p-4">
        <!-- <div class="card mb-4" style="width: 20rem">
            <div class="row card-body">
                <img class="col-sm-6" width="100"src="https://m.media-amazon.com/images/M/MV5BMzFkM2YwOTQtYzk2Mi00N2VlLWE3NTItN2YwNDg1YmY0ZDNmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SY1000_CR0,0,672,1000_AL_.jpg">
                <div class="col-sm-6 pt-4">
                    <div class="card-title delete-button">
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card-title text-center">Home Alone</div>
                    <div class="card-subtitle mb-2 text-muted text-center">comedy</div>
                </div>
            </div>
        </div> -->
        <app-movie-card></app-movie-card>
    </div>
</div>