.container-box {
   direction: rtl;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar .sidebar-item {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-align: center;
  }
  
  .sidebar .sidebar-item:hover:not(.top){
    background-color: #555;
    color: white;
    cursor: pointer;
  }
  
  .sidebar .top{
      background-color: lightgray;
  }

  div.content {
    margin-right: 200px;
    padding: 1px 16px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 20rem);
    grid-gap: 1rem;
    justify-content: space-evenly;
  }
  
  div.content .card .card-body{
      padding: 0 1rem;
  }

  div.content .card .card-body img {
      padding: 0;
  }

  .delete-button {
    float: left;
    margin-top: -1rem;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar .sidebar-item {float: right;}
    div.content {margin-right: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar .sidebar-item {
      text-align: center;
      float: none;
    }
    div.content {
        margin-right: 0;
        display: inherit;
        grid-template-columns: inherit;
        grid-gap: inherit;
        justify-content: inherit;
    }
    div.content .card{
        width:inherit!important
    }
}